<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to extract location and date metadata from your photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save photos to your library.</string>
</dict>
</plist>
